
<h1 class = "title" >Products</h1>



<% @products.each do |product| %>
  <p>

  	<%= link_to "#{product.name}", "/products/#{product.id}" %> <br>
  	<%= product.description %><br>
  	<%= product.formatted_price %>

  </p>

<% end %>
<br><br>
<%= link_to "New Product", "/products/new" %>