


<h1>Products</h1>
<%= link_to "New Product", "/products/new" %>

<% @products.each do |product| %>
  <p>
  	<%= product.name %> <br>
  	<%= product.description %><br>
  	<%= product.formatted_price %>
  </p>
<% end %>